body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  width: 500px;
  margin: 0 auto;
  background-color: #FFF29C;
  padding: 8px 16px;
}
